@model Logis.Models.Services

@{
    ViewData["Title"] = "Create";
}


<div class="card-body" >
    <h4 class="card-title">Create</h4>
    <p class="card-description">
        Card
    </p>
    <form class="forms-sample" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo">File upload</label>
            <input asp-for="Photo" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
                <input asp-for="Photo" class="form-control file-upload-info" placeholder="Upload Image">
            </div>
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Textarea</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

